.cardagendamento-div{
    border: 2px solid black;
    border-radius: 8px;
    padding: 1.5rem 0.2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.left-div{
    margin-left: 1rem;
    margin-top: 1.4rem;
}

.middle-div{
    margin-top: 1.4rem;
}
.Agendamento_Cancel{
    font-size: 40px;
    color: red;
    display: block;
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 95.5%;
    background-color: white;
    border:none;
    border-radius: 30px;
    box-shadow: 1px 1px 8px 0px rgb(0, 0, 0);
    transition: transform 0.3s ease;
}


.Agendamento_Cancel:hover {
    cursor: pointer;
    background: rgba(255, 0, 0, 1);
    color: rgb(255, 255, 255);
    transform: scale(1.10);
    box-shadow: 1px 1px 8px 0px rgba(255, 0, 0, 1);

}
.right-div{
    margin-right: 1rem;
}
.btn-details{
    font-size: 20px;
    border: none;
    border-radius: 35px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid rgb(61, 200, 107);
    box-shadow: 1px 1px 8px 0px rgb(61, 200, 107);

    line-height: 1.3;

    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 5rem;

    background: -webkit-linear-gradient(to right, rgb(7, 217, 63), rgb(1, 73, 131));
    background: -o-linear-gradient(to right, rgb(61, 200, 107), rgb(61, 200, 107));
    background: -moz-linear-gradient(to right, rgb(61, 200, 107), rgb(61, 200, 107));
    background: linear-gradient(to right, rgb(61, 200, 107), rgb(61, 200, 107));
    transition: transform 0.3s ease;
    outline: none;
}

.btn-details:hover {
    cursor: pointer;
    background: rgba(0, 188, 6, 0.678);
    color: rgb(255, 255, 255);
    transform: scale(1.10);

}

.la-line{
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 2px solid #555;
    max-width: 100%;
    margin-right: 2rem;
}

.namoral{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.usuario{
    margin-top: 1rem;
    text-align: center;
    font-size: 28px;
    font-family: Arial;
    font-style: normal;
    color: #000000;
}

@media(max-width:1540px){

    .Agendamento_Cancel{
        margin-left: 95.5%;
    }
}
@media(max-width:1395px){

    .Agendamento_Cancel{
        margin-left: 94.5%;
    }
}
@media(max-width:1125px){

    .Agendamento_Cancel{
        margin-left: 93.5%;
    }
}
@media(max-width:950px){

    .Agendamento_Cancel{
        margin-left: 92.5%;
    }
}
@media(max-width:830px){

    .Agendamento_Cancel{
        margin-left: 91.5%;
    }
}
@media(max-width:735px){

    .Agendamento_Cancel{
        margin-left: 90.5%;
    }
    .btn-details{
        font-size: 18px;
        width: 9rem;
        height: 5rem;
    }
}
@media(max-width:655px){

    .Agendamento_Cancel{
        margin-left: 89.5%;
    }
    .btn-details{
        font-size: 18px;
        width: 8rem;
        height: 5rem;
    }
    .usuario{
        margin-top: 1rem;
        font-size: 22px;
    }
}
@media(max-width:595px){

    .left-div h3,
    .middle-div h3{
        font-size: 22px;
    }
    .Agendamento_Cancel{
        margin-left: 88.5%;
    }
    .btn-details{
        font-size: 15px;
        width: 7rem;
        height: 4.5rem;
    }
    .usuario{
        margin-top: 1rem;
        font-size: 20px;
    }
}
@media(max-width:545px){

    .left-div h3,
    .middle-div h3{
        font-size: 20px;
    }
    .Agendamento_Cancel{
        margin-left: 87.5%;
    }
    .btn-details{
        font-size: 14px;
        width: 7rem;
        height: 4rem;
    }
    .usuario{
        margin-top: 1rem;
        font-size: 18px;
    }
}

@media(max-width:500px){

    .left-div h3,
    .middle-div h3{
        font-size: 15px;
    }
    .Agendamento_Cancel{
        margin-left: 86.5%;
    }
    .btn-details{
        font-size: 14px;
        width: 7rem;
        height: 4rem;
    }
    .usuario{
        margin-top: 1rem;
        font-size: 18px;
    }
}
@media(max-width:465px){

    .left-div h3,
    .middle-div h3{
        font-size: 13px;
    }
    .Agendamento_Cancel{
        margin-left: 85%;
    }
    .btn-details{
        font-size: 10px;
        width: 5rem;
        height: 3rem;
    }
    .usuario{
        margin-top: 0.5rem;
        font-size: 13px;
    }
}
@media(max-width:430px){

    .Agendamento_Cancel{
        margin-left: 84%;
    }
    
}
@media(max-width:390px){

    .Agendamento_Cancel{
        margin-left: 83%;
    }
    
}
@media(max-width:375px){

    .Agendamento_Cancel{
        margin-left: 82%;
    }
    
}
@media(max-width:350px){
    .left-div h3,
    .middle-div h3{
        font-size: 10px;
    }

    .Agendamento_Cancel{
        margin-left: 80%;
    }
    .btn-details{
        font-size: 10px;
        width: 4rem;
        height:2.5rem;
    }
    .usuario{
        margin-top: 0.5rem;
        font-size: 10px;
    }
    .cardagendamento-div{
        padding: 1rem 0.2rem;
    }
    
    
}