.cardagendamento-div{
    border: 2px solid black;
    width: 30rem;
    border-radius: 8px;
    padding: 1.5rem 0.2rem 0.5rem 0.2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0,0.3);
}

.left-div{
    margin-left: 5%;
}

.middle-div{
    margin-top: 1.4rem;
}
.left-div h3{
    font-size: 23px;
}
.Agendamento_Cancel{
    right: 35%;
    top:2rem;
    color: rgb(8, 59, 134);
    padding: 0.35rem;
    display: block;
    position: absolute;
    background-color: white;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0,0.3);
    transition: transform 0.3s ease;
}
.agendamento_options{
    font-size: 40px;
}


.Agendamento_Cancel:hover {
    cursor: pointer;
    background: rgba(255, 0, 0, 1);
    color: rgb(255, 255, 255);
    transform: scale(1.10);
    box-shadow: 1px 1px 8px 0px rgba(255, 0, 0, 1);

}
.right-div{
    margin-right: 5%;
}
.btn-details{
    font-size: 17px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid rgb(61, 200, 107);
    box-shadow: 1px 1px 8px 0px rgb(61, 200, 107);

    line-height: 1.3;

    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7rem;
    height: 4rem;

    background: -webkit-linear-gradient(to right, rgb(7, 217, 63), rgb(1, 73, 131));
    background: -o-linear-gradient(to right, rgb(61, 200, 107), rgb(61, 200, 107));
    background: -moz-linear-gradient(to right, rgb(61, 200, 107), rgb(61, 200, 107));
    background: linear-gradient(to right, rgb(61, 200, 107), rgb(61, 200, 107));
    transition: transform 0.3s ease;
    outline: none;
}

.btn-details:hover {
    cursor: pointer;
    background: rgba(0, 188, 6, 0.678);
    color: rgb(255, 255, 255);
    transform: scale(1.10);

}
.informacoes_Agendamentos{
    overflow: hidden;
    height: 0px;
    opacity: 0; /* Começa transparente */
    visibility: hidden; /* Começa escondido */
    animation: shrink3 0.7s ease-in-out alternate;
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out; /* Animação de 0.5s com easing */
}
@keyframes shrink3 {
    0% {
      height: 100px;
    }
    100% {
      height: 0px;
    }
}
.informacoes_Agendamentos.ativo{
    opacity: 1; /* Fica opaco quando ativo */
    animation: grow3 0.7s ease-in-out forwards;
    /* animation: slideInLeft 2s ease-in-out; */
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out; /* Animação de 0.5s com easing */
    visibility: visible; /* Fica visível quando ativo */
}
@keyframes grow3 {
    0% {
      height: 0px;
    }
    100% {
      height: 100px; /* Altura final da barra */
    }
  }

.la-line{
    padding-bottom: 2px;
    border-bottom: 2px solid #555;
    max-width: 100%;
    margin: 0.3rem 5%;
}

.namoral{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.usuario{
    margin-left: 5%;
    margin-bottom:0;
    /* text-align: center; */
    font-size: 28px;
    font-family: Arial;
    font-style: normal;
    color: #000000;
}
@media(max-width:680px){
    .cardagendamento-div{
        padding: 1rem 0.2rem 0rem 0.2rem;
    }
    .left-div h3{
        font-size: 20px;
    }
    .Agendamento_Cancel{
        top:1.4rem;
    }
    .agendamento_options{
        font-size: 35px;
    }
    .btn-details{
        height: 3.5rem;
    }
    .usuario{
        font-size: 23px;
    }
    .informacoes_Agendamentos{
        animation: shrink4 0.7s ease-in-out alternate;
    }
    @keyframes shrink4 {
        0% {
          height: 75px;
        }
        100% {
          height: 0px;
        }
    }
    .informacoes_Agendamentos.ativo{
        animation: grow4 0.7s ease-in-out forwards;
    }
    @keyframes grow4 {
        0% {
          height: 0px;
        }
        100% {
          height: 75px; /* Altura final da barra */
        }
      }
}

@media(max-width:595px){
    .left-div h3{
        font-size: 18px;
    }
    .Agendamento_Cancel{
        top:20px}
    .agendamento_options{
        font-size: 30px;
    }
    .btn-details{
        height: 3rem;
        font-size: 14px;
        width: 5rem;
    }
    .usuario{
        font-size: 20px;
    }
}

@media(max-width:510px){
    .cardagendamento-div{
        font-size: 15px;
        width: 25rem;
    }
    .left-div h3{
        font-size: 13px;
    }
    .Agendamento_Cancel{
        height: 2.5rem;
        width: 2.5rem;
        top:15px;
    }
    .agendamento_options{
        font-size: 25px;
    }
    .btn-details{
        margin-top: -5px;
        height: 2.85rem;
        font-size: 12px;
        width: 4.5rem;
    }
    .usuario{
        font-size: 15px;
    }
    
}

@media(max-width:430px){
    .cardagendamento-div{
        font-size: 13px;
        width: 18rem;
        padding: 0.8rem 0.1rem 0rem 0.1rem;
    }
    .left-div h3{
        font-size: 11px;
    }
    
    .Agendamento_Cancel{
        top:14px;
        width: 2rem;
        height: 2rem;
    }
    .agendamento_options{
        font-size: 20px;
    }
    .btn-details{
        margin-top:-2.5px;
        height: 2.25rem;
        font-size: 11px;
        width: 4rem;
    }
    .informacoes_Agendamentos{
        animation: shrink6 0.7s ease-in-out alternate;
        transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out; /* Animação de 0.5s com easing */
    }
    @keyframes shrink6 {
        0% {
          height: 75px;
        }
        100% {
          height: 0px;
        }
    }
    .informacoes_Agendamentos.ativo{
        animation: grow6 0.7s ease-in-out forwards;
        transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out; /* Animação de 0.5s com easing */
    }
    @keyframes grow6 {
        0% {
          height: 0px;
        }
        100% {
          height: 75px; /* Altura final da barra */
        }
      }
    .usuario{
        font-size: 13px;
    }
}
