.cardadocao-main-div{
    border: 2px solid black;
    border-radius: 8px;
    padding: 1.5rem 0.2rem 0.5rem 0.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    height: 10rem;
    width: 45rem;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0,0.3);
}

.left-side-div{
    margin-left: 2rem;
}

.right-side-div{
    margin-right: 2rem;
}

#btn-verify{
    font-size: 20px;
    display: block;
    border: none;
    border-radius: 35px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid rgb(61, 200, 107);
    box-shadow: 1px 1px 8px 0px rgb(61, 200, 107);

    line-height: 1.3;

    text-transform: uppercase;
    
    width: 10rem;
    height: 4.5rem;

    background: -webkit-linear-gradient(to right, rgb(7, 217, 63), rgb(1, 73, 131));
    background: -o-linear-gradient(to right, rgb(61, 200, 107), rgb(61, 200, 107));
    background: -moz-linear-gradient(to right, rgb(61, 200, 107), rgb(61, 200, 107));
    background: linear-gradient(to right, rgb(61, 200, 107), rgb(61, 200, 107));
    transition: transform 0.3s ease;
    outline: none;
}

#btn-verify:hover {
    cursor: pointer;
    background: rgba(0, 188, 6, 0.678);
    color: rgb(255, 255, 255);
    transform: scale(1.10);

}

.Pedido_Cancel{
    left: 27rem;
    top:2rem;
    color: rgb(8, 59, 134);
    padding: 0.35rem;
    display: block;
    position: absolute;
    background-color: white;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0,0.3);
    transition: transform 0.3s ease;
}
.PedAdo_options{
    font-size: 50px;
}
.Pedido_Cancel:hover {
    cursor: pointer;
    background: rgba(255, 0, 0, 1);
    color: rgb(255, 255, 255);
    transform: scale(1.10);
    box-shadow: 1px 1px 8px 0px rgba(255, 0, 0, 1);

}
.status_pedido{
    display: flex;
    color: rgba(0, 0, 0, 0.473);
    margin-top: 1rem;
    font-weight: bold;
    font-size: 14px;
}

@media(max-width:770px){

    .cardadocao-main-div{
        font-size: 20px;
        height: 7rem;
        width: 34.5rem;
    }
    .left-side-div{
        margin-left: 1rem;
    }
    
    .right-side-div{
        margin-right: 1rem;
    }
    
    #btn-verify{
        font-size: 15px;
        width: 7rem;
        height: 3rem;
    
    }
    .PedAdo_options{
        font-size: 30px;
    }
    .Pedido_Cancel{
        left: 23rem;
        top:1.7rem
    }
    .status_pedido{
        margin-top: 1rem;
        font-size: 13px;
    }

}

@media(max-width:620px){
    .left-side-div{
        margin-top: -0.5rem;
    }
    .left-side-div h3{
        font-size: 15px;
    }

    .cardadocao-main-div{
        font-size: 20px;
        height: 5rem;
        width: 25rem;
    }
    
    #btn-verify{
        font-size: 12px;
        width: 6rem;
        height: 2.5rem;
        margin-top: -0.5rem;
    
    }
    .PedAdo_options{
        font-size: 20px;
    }
    .Pedido_Cancel{
        left: 15rem;
        top:1.0rem
    }
    .status_pedido{
        margin-top: 0.2rem;
        font-size: 10px;
    }

}

@media(max-width:460px){
    .left-side-div{
        margin-top: -0.5rem;
    }
    .left-side-div h3{
        font-size: 15px;
    }

    .cardadocao-main-div{
        font-size: 20px;
        height: 5rem;
        width: 20rem;
    }
    
    #btn-verify{
        font-size: 12px;
        width: 6rem;
        height: 2.5rem;
        margin-top: -0.5rem;
    
    }
    .Pedido_Cancel{
        left: 10rem;
        top:1.0rem
    }
    

}
@media(max-width:380px){
    .left-side-div{
        margin-top: -0.5rem;
    }
    .left-side-div h3{
        font-size: 11px;
    }
    .left-side-div{
        margin-left: 0.5rem;
    }
    
    .right-side-div{
        margin-right: 0.5rem;
    }

    .cardadocao-main-div{
        font-size: 20px;
        height: 5rem;
        width: 15rem;
    }
    
    #btn-verify{
        font-size: 9px;
        width: 4rem;
        height: 2.0rem;
        margin-top: -0.5rem;
    
    }
    .PedAdo_options{
        font-size: 15px;
        position: relative;
        bottom: 8px;
    }
    .Pedido_Cancel{
        left: 7rem;
        height: 1.8rem;
        width: 1.8rem;
        top:1.2rem
    }
}