.contaner {
    /* background-color: rgba(29, 78, 185, 0.7); */
    background: -webkit-linear-gradient(to right, rgba(1, 73, 131, 0.9), rgb(1, 73, 131, 0.8));
    background: -o-linear-gradient(to right, rgba(1, 73, 131, 0.9), rgb(1, 73, 131, 0.8));
    background: -moz-linear-gradient(to right, rgba(1, 73, 131, 0.9), rgb(1, 73, 131, 0.8));
    background: linear-gradient(to right, rgba(1, 73, 131, 0.9), rgb(1, 73, 131, 0.8));
}

.contaner-form {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/logobranca.png');
    background-repeat: repeat;
}

.wrap-form {
    position: relative;
    display: flex;
    width: 450px;
    height: 550px;
    background-color: rgba(255, 255, 255, 1.0);
    border-radius: 10px;
    padding: 70px 55px 20px 55px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: 20vh;
    margin-bottom: 20.9vh;
    opacity: 2;

}


.bg_logo {
    opacity: 0.35;
}