
.container-form{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
    background-color: rgba(42, 99, 224, 0.9); /* Fallback color */
    background-repeat: repeat;
}
.wrap-form{
    position: relative;
    display: flex;
    width:450px;
    height: 550px;
    background-color:rgba(255, 255, 255, 1.0);
    border-radius: 10px;
    padding: 70px 55px 20px 55px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: -90vh;
  

}


.bg_logo{
    opacity: 0.35;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}