.breadcrumb-favoritos {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 5rem -0.8rem;
}

.title-favoritos-container {
  
  margin: 0rem 5rem ;
}

.title-favoritos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 40px;
  font-weight: 550;
  color: rgb(1, 73, 131);
}

.espaço-preenchido{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37.1Vh;

}
.sublinha-favoritos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 3rem;
}

.form-filtro-favoritos {
  display: flex;
  justify-content: space-evenly;
  float: left;
  background-color: rgba(10, 10, 10, 0.05);
  width: 90vw;
  margin: 1rem 5rem 2rem;
  padding: 2rem 3rem;
  height: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.form-filtro-favoritos div select {
  height: 2.5rem;
  width: 7.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 18px;
}

.botao-search {
  margin-top: -0.57rem;
  font-size: 16px;
  border: none;
  border-radius: 35px;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid rgb(1, 73, 131);
  box-shadow: 1px 1px 8px 0px rgb(38, 63, 173);

  line-height: 1.3;

  text-transform: uppercase;
  width: 7.5rem;
  height: 2.2rem;

  background: -webkit-linear-gradient(
    to right,
    rgb(1, 73, 131),
    rgb(1, 73, 131)
  );
  background: -o-linear-gradient(to right, rgb(1, 73, 131), rgb(1, 73, 131));
  background: -moz-linear-gradient(to right, rgb(1, 73, 131), rgb(1, 73, 131));
  background: linear-gradient(to right, rgb(1, 73, 131), rgb(1, 73, 131));

  transition: 1.2s;
  outline: none;
}

.botao-search:hover {
  cursor: pointer;
  background: white;
  color: rgb(1, 73, 131);
  transform: scale(1.1);
}

.grade-container {
  margin-left: 0.6rem;
}

@media (max-width: 860px) {

  .sublinha-favoritos {
      margin: 0 3rem;
  }

}
@media (max-width: 560px) {

  .sublinha-favoritos {
      margin: 0 1rem;
  }

}

@media (max-width: 500px) {

  .title-favoritos {
    
    font-size: 20px;
    
  }
  
}