

.tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2px;
    background-color: black;
    margin: 0 5rem;

}

.search-filter{
    height: 20rem;
    background-color: rgba(10, 10, 10, 0.02);
    margin: 2rem 5rem;
    border-radius: 20px;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}
.above-filter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:1rem;
}
.under-filter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:1rem;
}

.above-filter .filtro-select,
.under-filter .filtro-select{
    flex: 1 1 0;
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 4px;
    overflow: hidden;
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
}
.above-filter div p,
.under-filter div p{
    padding: 1px;
}
/*.above-filter div select,
.under-filter div select{
    width: 100%;
    border: rgba(10, 10, 10, 0.2) solid 2px ;
    height: 2rem;
    padding: 0 1rem;
    font-size: 20px;
    border-radius: 10px;
    
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

}*/
.above-filter div select,
.under-filter div select{
    display: block;
    width: 90%;
    padding: 5px 10px;
    margin: 0;
    font-size: 16px;
    color: #2d2d2d;
    box-sizing: border-box;
    -webkit-appearance: none;
    background-color: #fff;
    box-shadow: inset 0 0 4px 0 #5eb2eb;
    border: 0;
    border-radius: 5px;
    transition: .25s;
}

select{
    
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiPgogICAgPHBvbHlsaW5lIHBvaW50cz0iNDYuMTM5LDE1LjUxOCAyNS4xNjYsMzYuNDkgNC4xOTMsMTUuNTE5IiAvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-position: 98.5%;
    background-size: 9px;
    -moz-background-position: -9999px -9999px;
    cursor: pointer;
    padding: 8px;
    line-height: 1.15;
    
}

.above-filter div select:focus,
.under-filter div select:focus{
    outline: none;
    border: 1px solid #007BFF;
    box-shadow: 1px 1px 8px 0px #007BFF;
}

.btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #0000;

}

.bt-search{
    font-size: 25px;
    border:none;
    border-radius:10px;
    color:#ffffff;
    font-weight: bold;
    border:1px solid rgb(1, 73, 131) ;
    box-shadow: 1px 1px 8px 0px rgb(38, 63, 173);

    line-height: 1.3;

    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 5rem;

    background: -webkit-linear-gradient(to right, rgb(1, 73, 131), rgb(1, 73, 131));
    background: -o-linear-gradient(to right, rgb(1, 73, 131), rgb(1, 73, 131));
    background: -moz-linear-gradient(to right, rgb(1, 73, 131), rgb(1, 73, 131));
    background: linear-gradient(to right, rgb(1, 73, 131), rgb(1, 73, 131));
   
    transition: 1.2s;
    outline: none;
}

.bt-search:hover{
    cursor: pointer;
    background: white;
    color: rgb(1, 73, 131);
}

@media (max-width: 900px){
    /*.filtro{  
        margin-top: -1rem;
        margin: -1rem 1rem;  
    }
    .line{
        
        height: 2px;
        background-color: black;
        margin: 0 2rem;
    
    }
    .search-filter{
        margin: 3rem 10rem;
        padding: 3rem 10rem;
        height: 22rem;
    }
    .above-filter,
    .under-filter{
    
        width: 100%;
        gap:13rem;
    }
    .above-filter div,
    .under-filter div{
        flex: 1 1 0;
        font-size: 23px;
        
    }  */
    .search-filter{

        padding: 0.5rem 0.5rem;
    }
    .above-filter div p,
    .under-filter div p{
         padding: 5px;
    }

    .bt-search{
        font-size: 20px;
        width: 8rem;
        height: 4rem;
    }


}

@media (max-width: 560px){

    .filtro{  
        margin-top: -1rem;  
    }

    .tittle{
        font-size: 20px;
    }
    .line{
        margin: 0 1rem;
    }
    .search-filter{
        margin: 2rem 1rem;
        padding: 1rem;
        height: 15rem;
    }

    .above-filter,
    .under-filter{
    
        width: 100%;
        gap:2rem;
    }

    .above-filter div,
    .under-filter div{
        flex: 1 1 0;
        font-size: 14px;
        
    }  
    .above-filter div p,
    .under-filter div p{
         padding: 5px;
    }

    .bt-search{
        font-size: 15px;
        width: 10rem;
        height: 2rem;
    }


}
