.pet-card{
    font-size: 20px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    border-radius: 10px;
    
}
.pet-card h2{
    color:rgb(1, 73, 131);
    margin-left: 0.8rem;
    font-family: 'Poppins', Arial, sans-serif;
}
.pet-card p{
    margin-left: 0.8rem;
    font-family: 'Poppins', Arial, sans-serif;
}
.img_pet{
    border-radius: 4px;
}

.info{
    text-decoration: none;
    padding: 1rem 0.5rem;
    border: 2px solid #00000000;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
    background-color: #fff;
    transition:0.5s;
    text-align: center;
    

}
.complete{
    background-color: #fff;
    color: rgb(214, 27, 27) ;
    position:static;
    border-radius: 40px;
    border: none;
    padding: 3px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.2) ;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;

}

.complete:hover{
    opacity: 1;
}
.incomplete{
    background-color: #fff;
    color: rgb(214, 27, 27) ;
    position:static;
    border-radius: 40px;
    border: none;
    padding: 3px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.2) ;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;

}

.incomplete:hover{
    opacity: 1;
}
.heart{
    display: flex;
    margin-left: 13.0rem;
    margin-top: -2rem;

}

@media (max-width: 560px){

    .pet-card{
        font-size: 15px;
        
    }
    .pet-card h2{
        
        margin-left: 0.4rem;
    }

    .pet-card p{
        margin-left: 0.4rem;
        
    }
    
    .info{
        padding: 0.5rem 0.1rem;
        border: 2px solid #00000000;
        color: #000000;
        font-weight: 700;
        font-size: 15px;
        border-radius: 4px;
        background-color: #fff;
        transition:0.5s;
        text-align: center;
    
    }

}