.div-main {
    display: block;
}

.div-topo {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0 2rem 0;
}

.div-esquerda {}

.navegacao {
    margin-left: 2rem;
}

#imagem-animal {
    width: 30rem;
    height: 20rem;
    margin-left: 2rem;
    border-radius: 4px;



}

.div-direita {

    margin: 0 2rem;

}

.nome-animal {
    text-align: center;
    margin: 0 0 1rem 0;
}

#nome {
    font-style: italic;
}

.status-animal {
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0 0 2rem 0;
}

#localizacao {
    font-size: 20px;
}

#publicador {
    font-size: 20px;
}

#acessos {
    font-size: 20px;
}


.historia-animal {
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0 0 1.5rem 0;
    max-width: 40rem;
}

.botao-adotar {
    display: flex;
    justify-content: center;
}

#botao-quero-adotar {
    width: 13rem;
    height: 5rem;
    border: 1px solid rgb(1, 73, 131);
    border-radius: 35px;
    color: white;
    background-color: rgb(1, 73, 131);
}

.div-fundo {
    padding: 2rem 7rem;
    display: block;
}

.informacoes-animal {
    margin: 0 0 2.5rem 0;
}

#linha {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin: 0 0 2rem 0;
}

#info-animal {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
}

.outros-animais {}

.cards-animais {
    display: inline;
}

/* media queries */

@media screen and (max-width: 1250px) {

    .div-topo {
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }

    .div-esquerda {}

    .navegacao {}

    #imagem-animal {}

    .div-direita {
        width: 90%;
        padding: 2rem 0 0 0;
    }

    .nome-animal {
        margin: 1rem 0 3rem 0;
    }

    #nome {}

    .status-animal {}

    #localizacao {}

    #publicador {}

    #acessos {}

    .historia-animal {
        max-width: none;
    }

    .botao-adotar {}

    #botao-quero-adotar {
        width: 20rem;
    }

    .div-fundo {}

    .informacoes-animal {}

    #linha {}

    #info-animal {}

    .outros-animais {}

    .cards-animais {}


}

@media screen and (max-width: 730px) {
    #imagem-animal {
        width: 90%;
        height: auto;
        margin: 0rem 2rem;
    }

    #info-animal {
        font-size: 95%;
    }
}

@media screen and (max-width: 600px) {
    #imagem-animal {
        width: 92%;
        height: auto;
        margin: 0 0.8rem;
        
    }

    .div-fundo {
        padding: 0 0.7rem;
    }

    #info-animal {
        font-size: 100%;
    }
}