.div-main{
    display: block;
}

.div-topo{
    display: flex;
    justify-content: space-around;
    padding: 4rem 0 2rem 0;
}

.div-esquerda{

}

.navegacao{

}

#imagem-animal{
    
}

.div-direita{

}

.nome-animal{
    text-align: center;
    margin: 0 0 1rem 0;
}

#nome{
    font-style: italic;
}

.status-animal{
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0 0 2rem 0;
}

#localizacao{
    font-size: 20px;
}

#publicador{
    font-size: 20px;
}

#acessos{
    font-size: 20px;
}

.historia-animal{
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0 0 1.5rem 0;
}

.botao-adotar{
    display: flex;
    justify-content: center;
}

#botao-quero-adotar{
    width: 13rem;
    height: 5rem;
    border: 1px solid rgb(1, 73, 131);
    border-radius: 35px;
    color: white;
    background-color: rgb(1, 73, 131);
}

.div-fundo{
    padding: 2rem 7rem;
    display: block;
}

.informacoes-animal{
    margin: 0 0 2.5rem 0;
}

#linha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin: 0 0 2rem 0;
}

#info-animal{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
}

.outros-animais{

}

.cards-animais{
    display: flex;
    justify-content: space-between;
}

/* media queries */
