.div-container{
    font-weight: bold;
    display: block;
    margin: 1rem;
}

.title-registro-adocao-container{

}

.sublinha-favoritos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin: 0 0 2rem 0;
}

.div-principal{
    border: solid 2px black;
    border-radius: 5px;
    display: block;
}

.div-informacoes{
    font-family: 'Poppins', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 0 0 4rem 0;
}

.div-info-esquerda{
    font-family: 'Poppins', Arial, sans-serif;
    width: 45%;
    margin: 2rem 0;
}

.div-inputs-esquerda{
    font-family: 'Poppins', Arial, sans-serif;
    margin: 2rem 0 0 0;
}

.labelInput-E{
    font-family: 'Poppins', Arial, sans-serif;
    display: block;
    font: 20px solid black;
    text-align: left;
}

.inputs-info-esquerda{
    font-family: 'Poppins', Arial, sans-serif;
    display: block;
    width: 400px;
    margin: 0 0 1rem 0;
    border: solid 2px black;
}


.div-info-direita{
    width: 45%;
    text-align: center;
    margin: 2rem 0;
}

.div-inputs-direita{
    display: block;
    text-align: center;
}

.inputs-info-direita{
    margin: 0 0 2rem 0;
}

.inputs-info-direita label{
    display: flex;
    font-family: 'Poppins', Arial, sans-serif;
    font: 20px solid black;
}

.inputs-info-direita input{
    width: 100%;
    border: solid 2px black;

}

.div-responsabilidade-adocao{

}

.titulo-responsabilidade{
    margin: 0 2rem;
}

.sublinha-responsabilidade{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin: 0 0 2rem 0;
}

.div-inputs-responsabilidade{
    display: block;
    text-align: center;
    font: 20px solid black;
    font-family: 'Poppins', Arial, sans-serif;
}

.div-pergunta{
    margin: 0 0 2rem 0;
}

.div-pergunta div{
    margin:  1rem 0 0 0;
}

.div-pergunta input{
    margin: 0 8px;
}

.div-documentos{
    margin: 4rem 0;
    text-align: center;
}

.div-documentos div{
    margin: 1rem 0 0 0;
    display: block;
}

.div-btn-registrar-adocao{
    display: flex;
    justify-content: center;
}

#btn-registar-adocao{
    margin: 2rem 0 2rem 0;


    width: 25rem;
    height: 5rem;
    border: 1px solid rgb(1, 73, 131);
    border-radius: 20px;
    color: white;
    background-color: rgb(1, 73, 131);

    font-size: 30px;
}

@media screen and (max-width: 980px){
    .div-informacoes{
        font-family: 'Poppins', Arial, sans-serif;
        display: block;
    }

}