.ImgPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem ;
}

.ImgPrincipal img{
    width: 70rem ;
    height: 30rem ;
    border-radius: 20px;
}

.legenda{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin-left: -19rem;
    margin-top: 18rem;
    background-color: rgba(255, 255, 255, 0.7);
    width: 20vw;
    height: 40vh;
    padding: 40px;
    border-radius: 200px;
}
.legenda div{
    width: 290px;
    margin-top: 0rem;
    margin-left: -2rem;

}
.legenda span{
    font-family: 'Poppins', Arial, sans-serif;
    color: rgb(104, 79, 10);
    display: block;
}

.letra{
    font-size: 20px;
    margin-left: 0.5rem;
}
.letra2{
    font-size: 20px;
    margin-left: 4.5rem;
}

.letra-bold{
    font-weight: 700;
    font-size: 45px;
    margin-left: 1rem;
}

@media (max-width: 1700px){
    /*.ImgPrincipal img{
        width: 90% ;
        width: 50vw ;
        height: 45vh ;
        margin:0 0rem;
    }*/
    .legenda{
        width: 20rem;
        height: 20rem;
        margin-left: -17.5rem;
        margin-top: 17rem ;
    
    }
    .legenda div{
        margin-top: 1.0rem;
        margin-left: -1.5rem;
    }

}
@media (max-width: 1600px){
    /*.ImgPrincipal img{
        width: 90% ;
        width: 45vw ;
        height: 40vh ;
        margin:0 0rem;
    }*/
    .all{
        width: 100vw;
    }
    .legenda{
        margin-left: -17.0rem;
        margin-top: 17rem ;
    
    }
    .legenda div{
        margin-top: 1.0rem;
        margin-left: -2.0rem;
    }

}
@media (max-width:1400px){
    .ImgPrincipal{
        margin: 1rem 1rem;
    }
    .ImgPrincipal img{
        width: 70% ;
        height: 40% ;
        margin:0 1rem;
    }
    .legenda{
        width: 16rem;
        height: 16rem;
        margin-left: -14.5rem;
        margin-top: 19rem ;
    
    }
    .legenda div{
        margin-top: 0.5rem;
        margin-left: 2rem;
    }
    .letra{
        font-size: 15px;
        margin-left: 0.5rem;
    }
    .letra2{
        font-size: 15px;
        margin-left: 4.5rem;
    }
    
    .letra-bold{
        font-weight: 700;
        font-size: 35px;
        margin-left: 1rem;
    }
}
@media (max-width:1200px){
    .legenda div{
        margin-top: .0rem;
        margin-left: 2rem;
    }
}

@media (max-width:1100px){
    .legenda div{
        margin-top: -1.5rem;
        margin-left: 2rem;
    }
    .letra{
        font-size: 15px;
        margin-left: 0.5rem;
    }
    .letra2{
        font-size: 15px;
        margin-left: 4.5rem;
    }
    
    .letra-bold{
        font-weight: 700;
        font-size: 35px;
        margin-left: 1rem;
    }
}
@media (max-width:1030px){
    .legenda div{
        margin-top: -4rem;
        margin-left: 4rem;
    }
    .letra{
        font-size: 14px;
        margin-left: 0.5rem;
    }
    .letra2{
        font-size: 14px;
        margin-left: 4.5rem;
    }
    
    .letra-bold{
        font-weight: 700;
        font-size: 30px;
        margin-left: 1rem;
    }
}
@media (max-width:900px){
    .legenda{
        margin-top: 14rem;
    }
    .legenda div{
        margin-top: -3rem;
        margin-left: 4rem;
    }
    .letra{
        font-size: 14px;
        margin-left: 0.5rem;
    }
    .letra2{
        font-size: 14px;
        margin-left: 4.5rem;
    }
    
    .letra-bold{
        font-weight: 700;
        font-size: 30px;
        margin-left: 1rem;
    }
}@media (max-width:700px){
    .legenda div{
        margin-top: -5rem;
        margin-left: 4rem;
    }
    .letra{
        font-size: 14px;
        margin-left: 0.5rem;
    }
    .letra2{
        font-size: 14px;
        margin-left: 4.5rem;
    }
    
    .letra-bold{
        font-weight: 700;
        font-size: 30px;
        margin-left: 1rem;
    }
}

@media (max-width: 600px){

    .ImgPrincipal{
        width: 99%;
       margin: 0.2rem
    }
    .ImgPrincipal img{
        width: 90% ;
        height: 220px;
        border-radius: 10px;
        margin:0 0rem;
    }
    .legenda{
        width: 140px;
        height: 140px;
        margin-left: -8.5rem;
        margin-top:12rem ;
    
    }
    .legenda div{
        width: 130px;
        margin-top: -1.6rem;
        margin-left: -0.5rem;
        
    }
    .letra{
        font-size: 12px;
        margin-left: 0.9rem;
    }
    .letra2{
        font-size: 12px;
        margin-left: 1.5rem;
    }
    
    .letra-bold{
        font-weight: 700;
        font-size: 20px;
        margin-left: 1rem;
    }
}

