.ImgPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 1rem ;
}

.ImgPrincipal img{
    width: 70rem ;
    height: 30rem ;
    border-radius: 20px;
}
.main{
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media (max-width:1400px){
    .ImgPrincipal{
        margin: 3rem 1rem;
    }
    .ImgPrincipal img{
        width: 51rem ;
        height: 21rem ;
        transition: 0.9s;
    }
    
}

@media (max-width:900px){
    .ImgPrincipal{
        margin: 2rem 1rem;
    }
    .ImgPrincipal img{
        width: 33rem ;
        height: 14rem ;
        transition: 0.9s;
    }
    
}
@media (max-width: 600px){

    .ImgPrincipal{
       margin: 2rem 0.1rem;
     }
    .ImgPrincipal img{
       
        width: 20rem ;
        height: 8rem ;
        transition: 0.9s;
    }
    
}

